<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PID ADD</title>
</head>
<style type="text/css">
    #popDiv {

        /*就是这个position:fixed起作用，生成相对定位的元素，相对于其正常位置进行定位。*/
        position: fixed;

        /*这里都是对外边距进行设置*/
        margin: auto;
        right: 70%;
        bottom: 50%;

        /*设置div的宽和高*/
        width: 400px;
        height: 280px;

        /*设置超出范围后，就隐藏超出的部分*/
        overflow: hidden;

        /*设置边框*/
        border: 2px solid #AEBBCA;

        /*设置背景颜色*/
        background-color: #EEF1F8;

        /*设置鼠标的样式*/
        cursor: move;
    }
</style>
<body>
<div style="text-align: center;align-self: center;">
    <table th:each="map :${code_rule}" th:border="1" style="margin: auto">
        <tr>
            <td style="width: 150px">编码索引</td>
            <td style="width: 150px">编码元素</td>
            <td style="width: 150px">编码描述</td>
        </tr>
        <tr th:each="list :${map.value}">
            <td th:text="${map.key}" style="width: 150px"></td>
            <td th:if=${list.codeData!='01-99'}>
                <button th:value="${list.codeData}" style="width: 150px"
                        th:text="${list.codeData}"
                        type="button" class="btn btn-danger btn-sm"
                        th:onclick="javascript:codeDataClick([[${map.key}]],[[${list.codeData}]])">
                </button>
            </td>
            <td th:if=${list.codeData=='01-99'}>
                <input th:value="99" type="number" th:id="pid_num"/>
                <button th:text="确认"
                        th:onclick="javascript:codeDataClick([[${map.key}]],[[${list.codeData}]])"></button>
            </td>

            <td th:text="${list.codeDesc}" style="width: 150px"></td>
        </tr>
    </table>
    <br/><br/>
</div>
<div th:id="popDiv">
    <h4>峰米产品信息PID、SN、MN管理系统</h4>
    <label for="id_generate">PID:</label>
    <label id="id_generate" style="font-size: 30px" th:text="17101"></label>
    <form th:id="pidForm" th:action="@{/toProductSKUAdd}" method="post" th:object="${pid}">
        <input type="hidden" th:id="pid_data" th:field="${pid.pid_data}"/>
        <input type="hidden" th:id="pid_category" th:field="${pid.pid_category}"/>
        日期:
        <input type="date" th:id="pid_create_date" th:field="${pid.pid_create_date}"/><br/>
        市场名称：
        <input type="text" th:id="market_name" th:value="市场名称" th:field="${pid.market_name}"/><br/>
        首台序列号：
        <input type="text" th:id="pid_sn" th:value="市场名称" th:field="${pid.pid_sn}"/><br/>
        <select th:id="pid_brand" th:field="${pid.pid_brand}">
            <option th:value="2">请选择产品品牌</option>
            <option th:each="brand,userStat:${brand_list}" th:value="${brand.brand_id}"
                    th:text="${brand.brand_name}"></option>
        </select><br/>
        备注：
        <input type="text" th:id="pid_remark" th:value="备注" th:field="${pid.pid_remark}"/><br/>
        <input type="submit" th:text="生成PID"/>
    </form>
</div>

</body>

<script th:inline="javascript">
    function codeDataClick(index, data) {
        var lab = document.getElementById("id_generate");
        var numInput = document.getElementById("pid_num");
        var code = lab.innerText;
        var num = numInput.valueOf().value;
        if (num.length != 2) {
            alert("立项编号长度不合法");
            return;
        }
        switch (index) {
            case 0:
                code = data + code.substring(2, 5);
                break;
            case 1:
                code = code.substring(0, 2) + data + code.substring(3, 5);
                document.getElementById("pid_category").valueOf().value = data;
                break;
            case 2:
                code = code.substring(0, 3) + num;
                break;
        }
        //alert(code);
        lab.innerText = code;
        document.getElementById("pid_data").valueOf().value = code;
    }

</script>
</html>