<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" th:href="@{/local/layui/css/layui.css}" href="/local/layui/css/layui.css"/>
    <style>
        .wrap {
            overflow: hidden;
            height: 600px;
        }

        .cont {
            height: 600px;
            overflow-x: auto;
            overflow-y: hidden;
            position: relative;
        }

        .state {
            left: 0px;
            top: 0px;
            position: absolute;
            height: 600px;
            overflow-x: auto;
            white-space: nowrap;
            display: flex;
        }
    </style>
</head>
<body>

<script th:src="@{/local/layui/layui.js}" src="/local/layui/layui.js" type="text/javascript" th:inline="javascript">
</script>
<script type="text/javascript" th:inline="javascript">
    //我们强烈推荐你在代码最外层把需要用到的模块先加载
    layui.use(['jquery', 'layer', 'form', 'element'], function () {

    });
</script>

<h1 th:class="layui-bg-gray">产品信息清单</h1>
<div style="overflow: scroll">
    <table th:id="tb_product" th:border="1" class="layui-table" lay-even>
        <tr>
            <td>No.</td>
            <td>PID</td>
            <td>市场名称</td>
            <td>商品类别</td>
            <td>SKU</td>
            <td>SKU 名称</td>
            <td>销售地区</td>
            <td>颜色</td>
            <td>创建日期</td>
            <td>MN</td>
            <td>供应商</td>
            <td>UIID</td>
            <td>69码</td>
            <td>3c名称</td>
            <td>产品规格</td>
            <td>合作方式</td>
            <td>小米型号</td>
            <td>光机料号</td>
        </tr>
        <tr th:each="product,memberStat:${product_list}">
            <td th:text="${memberStat.index+1}"></td>
            <td th:text="${product.pid.pid_data} " width="180"></td>
            <td th:text="${product.pid.market_name} " width="180"></td>
            <td th:text="${product.pid.pid_category_desc} " width="180"></td>
            <td th:text="${product.sku.sku_data} " width="180"></td>
            <td th:text="${product.sku.sku_name} " width="300"></td>
            <td th:text="${product.sku.sku_country} " width="40"></td>
            <td th:text="${product.color} " width="100"></td>
            <td th:text="${product.pid.pid_create_date} " width="180"></td>
            <td th:text="${product.mn.mn_data} " width="180"></td>
            <td th:text="${product.mn.mn_supplier} " width="180"></td>
            <td th:text="${product.pd.detail_uiid}"></td>
            <td th:text="${product.pd.detail_69}"></td>
            <td th:text="${product.pd.detail_3c}"></td>
            <td th:text="${product.pd.detail_specification}"></td>
            <td th:text="${product.pd.detail_cooperation}"></td>
            <td th:text="${product.pd.detail_mi}"></td>
            <td th:text="${product.pd.detail_proj_sn}"></td>
        </tr>
    </table>
</div>
<a th:href="@{/toProductPIDAdd}" class="layui-btn">新增产品信息</a> <br/>
</body>

</html>