<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" th:href="@{/local/layui/css/layui.css}" href="/local/layui/css/layui.css"/>
    <link rel="stylesheet" th:href="@{/local/layui/css/modules/layer/default/layer.css}"
          href="/local/layui/css/modules/layer/default/layer.css"/>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:src="@{/local/layui/layui.js}" src="/local/layui/layui.js" type="text/javascript"
        th:inline="javascript"></script>
<script th:src="@{/local/layui/lay/modules/layer.js}" src="/local/layui/lay/modules/layer.js" type="text/javascript"
        th:inline="javascript"></script>
<script type="text/javascript" th:inline="javascript">
    var productList = [[${product_list}]];
    var clickIndex = 0;
    //我们强烈推荐你在代码最外层把需要用到的模块先加载
    layui.use(['table', 'jquery', 'layer', 'form', 'element'], function () {
        $(document).on('click', '.btn_detail', function () {
            layer.open({
                title: '<h3>产品信息详情</h3>' + productList[clickIndex].pid.pid_data
                , content:
                    '<table class="layui-table" lay-even> ' +
                    '<tr><td width="100" style="text-align: right">PID</td><td width="190">' + productList[clickIndex].pid.pid_data + '</td><td width="100" style="text-align: right">市场名称</td><td width="190">' + productList[clickIndex].pid.market_name + '</td></tr>' +
                    '<tr><td width="100" style="text-align: right">首台SN</td><td width="190">' + productList[clickIndex].pid.pid_sn + '</td><td width="100" style="text-align: right">创建日期</td><td width="190">' + productList[clickIndex].pid.pid_create_date + '</td></tr>' +
                    '<tr><td width="100" style="text-align: right">产品类型</td><td width="190">' + productList[clickIndex].pid.pid_category_desc + '</td><td width="100" style="text-align: right">SKU</td><td width="190">' + productList[clickIndex].sku.sku_data + '</td></tr>' +
                    '<tr><td width="100" style="text-align: right">SKU名称</td><td width="190">' + productList[clickIndex].sku.sku_name + '</td><td width="100" style="text-align: right">销售地区</td><td width="190">' + productList[clickIndex].sku.sku_country + '</td></tr>' +
                    '<tr><td width="100" style="text-align: right">MN</td><td width="190">' + productList[clickIndex].mn.mn_data + '</td><td width="100" style="text-align: right">MN分类</td><td width="190">' + productList[clickIndex].mn.mn_type_desc + '</td></tr>' +
                    '<tr><td width="100" style="text-align: right">供应商</td><td width="190">' + productList[clickIndex].mn.mn_supplier + '</td><td width="100" style="text-align: right">UIID</td><td width="190">' + productList[clickIndex].pd.detail_uiid + '</td></tr>' +
                    '<tr><td width="100" style="text-align: right">69码</td><td width="190">' + productList[clickIndex].pd.detail_69 + '</td><td width="100" style="text-align: right">光机SN</td><td width="190">' + productList[clickIndex].pd.detail_proj_sn + '</td></tr>' +
                    '<tr><td width="100" style="text-align: right">产品规格</td><td width="190">' + productList[clickIndex].pd.detail_specification + '</td><td width="100" style="text-align: right">3C名称</td><td width="190">' + productList[clickIndex].pd.detail_3c + '</td></tr>' +
                    '<tr><td width="100" style="text-align: right">合作商</td><td width="190">' + productList[clickIndex].pd.detail_cooperation + '</td><td width="100" style="text-align: right">米家名称</td><td width="190">' + productList[clickIndex].pd.detail_mi + '</td></tr>' +
                    '<tr><td width="100" style="text-align: right">内部产品编码</td><td width="190">' + productList[clickIndex].pd.detail_pn + '</td><td width="100" style="text-align: right"></td><td width="190"></td></tr>' +
                    '</table>'
                , area: ['700px', '600px']
            });
        })
    });

    function detailClick(index) {
        clickIndex = index
    }
</script>
<div class="layui-bg-gray">

    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a th:text="${#authentication.name}"></a>
            <dl class="layui-nav-child">
                <dd th:unless="${#strings.contains(#authentication.authorities[0],'3')}"><a
                        th:href="@{/toProductPIDAdd}">新增产品信息</a></dd>
                <dd><a th:href="@{/logout}">退出</a></dd>
            </dl>
        </li>
    </ul>
    <h1 class="layui-bg-gray">产品信息清单</h1>
    <table th:id="tb_product" th:border="1" class="layui-table" lay-even>
        <thead>
        <tr>
            <td>No.</td>
            <td>PID</td>
            <td>市场名称</td>
            <td>商品类别</td>
            <td>SKU</td>
            <td>SKU 名称</td>
            <td>销售地区</td>
            <td>颜色</td>
            <td>创建日期</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product,memberStat:${product_list}">
            <td th:text="${memberStat.index+1}"></td>
            <td th:text="${product.pid.pid_data} " height="40" width="180"></td>
            <td th:text="${product.pid.market_name} " height="40" width="180"></td>
            <td th:text="${product.pid.pid_category_desc} " height="40" width="180"></td>
            <td th:text="${product.sku.sku_data} " height="40" width="180"></td>
            <td th:text="${product.sku.sku_name} " height="40" width="300"></td>
            <td th:text="${product.sku.sku_country} " height="40" width="40"></td>
            <td th:text="${product.color} " height="40" width="100"></td>
            <td th:text="${product.pid.pid_create_date} " height="40" width="180"></td>
            <td th:if="${#strings.contains(#authentication.authorities[0],'1')}">
                <button class="layui-btn btn_detail" name="btn_detail"
                        th:onclick="javascript:detailClick([[${memberStat.index}]])">详情
                </button>
                <a class="layui-btn"
                   th:href="@{/toProductEdit(id=${product.product_id})}">编辑
                </a>
            </td>
            <td th:if="${#strings.contains(#authentication.authorities[0],'3')}">
                <button class="layui-btn btn_detail" name="btn_detail"
                        th:onclick="javascript:detailClick([[${memberStat.index}]])">详情
                </button>
            </td>
            <td th:if="${#strings.contains(#authentication.authorities[0],'2')}">
                <button class="layui-btn btn_detail" name="btn_detail"
                        th:onclick="javascript:detailClick([[${memberStat.index}]])">详情
                </button>
                <a class="layui-btn"
                   th:href="@{/toProductEdit(id=${product.product_id})}">编辑
                </a>
                <a class="layui-btn"
                   th:href="@{/deleteProduct(id=${product.product_id})}">删除
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>