<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新建项目</title>
    <link rel="stylesheet" th:href="@{/local/layui/css/layui.css}" href="/local/layui/css/layui.css"/>
    <link rel="stylesheet" th:href="@{/local/layui/css/modules/layer/default/layer.css}"
          href="/local/layui/css//modules/layer/default/layer.css"/>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script th:src="@{/local/layui/layui.js}" src="/local/layui/layui.js" type="text/javascript"
        th:inline="javascript"></script>
<script th:src="@{/local/layui/lay/modules/layer.js}" src="/local/layui/lay/modules/layer.js" type="text/javascript"
        th:inline="javascript"></script>
<script type="text/javascript" th:inline="javascript">
    //我们强烈推荐你在代码最外层把需要用到的模块先加载
    layui.use(['table', 'jquery', 'layer', 'form', 'element'], function () {
    });
</script>

<div class="layui-bg-cyan">
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a th:text="${#authentication.name}"></a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{/getAllProduct}">主页</a>
                </dd>
                <dd><a th:href="@{/logout}">退出</a></dd>
            </dl>
        </li>
    </ul>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md3">
                <div class="layui-col-md5 layui-col-md-offset4">
                    <h4>
                        项目代号创建<br/>
                        按照右侧编码索引<br/>
                        逐个选择对应的元素
                    </h4>

                    <label for="pn_generate" style="font-size: 27px">项目代号:</label>
                    <label id="pn_generate" style="font-size: 30px" th:text="-------"></label>
                </div>

            </div>
            <div class="layui-col-md9">
                <table class="layui-table" th:border="1">
                    <thead>
                    <tr>
                        <td style="width: 150px">编码索引</td>
                        <td th:each="map :${pn_code_rule}" th:text="${map.key}"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 150px">编码元素</td>
                        <td th:each="map :${pn_code_rule}" th:unless="${#strings.contains(map.getValue().get(0).codeData,'-')}">
                            <select th:name="select_code_pn" th:onchange="javascript:onPNCodeSelected([[${map.key}]])">
                                <option>-请选择编码元素-</option>
                                <option th:each="list :${map.value}" th:value="${list.codeData}"
                                        th:text="${list.codeDesc}"></option>
                            </select>
                        </td>
                        <td th:each="map :${pn_code_rule}" th:if="${#strings.contains(map.getValue().get(0).codeData,'-')}">
                            <input th:name="input_code" th:oninput="javascript:onCodeInput([[${map.key}]])"
                                   th:value="${map.getValue().get(0).codeData}"
                                   th:text="${map.getValue().get(0).codeDesc}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="layui-row">

        <form class="layui-form" th:id="product_form" th:action="@{/addPN}" method="post" th:object="${form_product}">
            <div class="layui-container">
                <!--内部项目代号创建-->
                <div class="layui-row">
                    <div class="layui-col-md3">

                    </div>
                    <div class="layui-col-md9">
                        <input type="hidden" th:id="pn_data" th:field="${form_product.pn.pn_data}"/>
                        <div class="layui-form-item">
                            <label class="layui-form-label">项目简称</label>
                            <div class="layui-input-inline">
                                <input type="text" th:id="pn_simple_name" required placeholder="项目简称" autocomplete="off"
                                       class="layui-input" th:value="项目简称" th:field="${form_product.pn.pn_simple_name}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">项目描述</label>
                            <div class="layui-input-block">
                                <input th:id="pn_desc" required placeholder="项目描述" autocomplete="off"
                                       class="layui-input" th:value="项目描述" th:field="${form_product.pn.pn_desc}">
                            </div>
                        </div>
                    </div>
                </div>
                <!--项目PID创建-->
                <div class="layui-row">
                    <div class="layui-col-md1">

                    </div>
                    <div class="layui-col-md12">

                    </div>
                </div>

            </div>


            <div class="layui-bg-cyan">
                <input type="hidden" th:id="pid_data" th:field="${form_product.pid.pid_data}"/>
            </div>
            <input type="hidden" th:id="mn_data" th:field="${form_product.mn.mn_data}"/>
            <input type="hidden" th:id="sku_data" th:field="${form_product.sku.sku_data}"/>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="submit" value="提交" class="layui-btn"/>
                </div>
            </div>
        </form>
    </div>
</div>

</body>

<script th:inline="javascript">
    function onPNCodeSelected(index) {
        var lab = document.getElementById("pn_generate");
        var code = lab.innerText;

        var i = document.getElementsByName("select_code_pn")[index].selectedIndex;
        var data = document.getElementsByName("select_code_pn")[index][i].value;
        switch (index) {
            case 0:
                code = data + code.substring(1, 7);
                break;
            case 1:
                code = code.substring(0, 1) + data + code.substring(3, 7);
                break;
            case 2:
                code = code.substring(0, 3) + data + code.substring(4, 7);
                break;
            case 3:
                code = code.substring(0, 4) + data + code.substring(5, 7);
                break;
            case 4:
                code = code.substring(0, 5) + data + code.substring(6, 7);
                break;
            case 5:
                code = code.substring(0, 6) + data;
                break;
        }
        lab.innerText = code;
        document.getElementById("pn_data").valueOf().value = code;
    }

</script>
</html>